.dnd-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  /* color: #282c34; */
  font-weight: bold;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}
.dnd-item:not(:last-of-type) {
  margin-bottom: 10px;
}
.current {
  background-color: #E8B02E;
}

.dnd-item p {
  padding: 10px;
  margin: 0px;
  font-weight: 400 !important;
}

.dnd-item i {
  cursor: pointer;
  padding: 10px;
}

.dnd-item i:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
}
