header {
  height: 40px;
  background-color: #CE9C29;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ededed;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

main {
    padding: 0px 10px;
}
