@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #E8B02E;
  color: #3C474D;
}

i {
  color: #687176;
  cursor: pointer;
}

button {
  background-color: #687176;
  border: 0px solid gray;
  border-radius: 4px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3C474D;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
